.input-file {
  display: inline;
}

.label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.item {
  cursor: pointer;
  padding: 5px;
}

.text {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input {
  border: 0;
  outline: 0;
  width: 0;
  height: 0;
  position: fixed;
  top: -1000px;
}
