@import '~esayemm-styles/shared';
@import '~styles/variables';

$bg: $primary_bg_color;

$display_bg: $dark_2;
$display_bg_active: $dark_6;
$display_color: $neon_green;

.controller {
  flex-grow: 1;
  composes: flex-row;
  align-items: center;
  background: $bg;
  box-shadow: 0 2px 5px rba(black, .4);
}

.section {
  margin: 0 20px;
  composes: flex-row;
  align-items: stretch;
}

.item {
  composes: middle;
  display: inherit;
  height: 30px;
  background: $display_bg;
  padding: 0 10px;

  &.display {
    font-size: 18px;
    font-family: 'Proggy';
    color: $display_color;
  }

  &.control {
    font-weight: 900;
    color: $display_bg_active;

    &:hover {
      cursor: pointer;
      opacity: .5;
    }

    &:active {
      background: $display_bg_active;
      color: $display_bg;
      opacity: 1;
    }

    &.active {
      background: $display_bg_active;
      color: $display_bg;
      opacity: 1;
    }
  }
}
