@import '~esayemm-styles/shared';

$main_bg: $dark_1;

.main {
  composes: flex-col;
  height: 100vh;
  background: $main_bg;
}

.row {
  composes: flex-row;
}

.grow {
  flex: 1 1 auto;
  overflow: hidden;
  height: 0px;
}

.social {
  position: fixed;
  top: 0;
  right: 10px;
  font-size: 30px;
  padding: 10px;
  color: white;
  opacity: .5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
