@import '~esayemm-styles/shared';

$main_bg: $dark_1;

.main {
  composes: flex-col;
  height: 100vh;
  background: $main_bg;
}

.row {
  composes: flex-row;
}

.grow {
  flex: 1 1 auto;
  overflow: hidden;
  height: 0px;
}
