@import '~esayemm-styles/shared';

.mixer {
  composes: flex-row;
  background: $dark_2;
  width: 100%;
  position: relative;
  align-items: stretch;
}

.channels {
  composes: flex-row;
  width: 100%;
  overflow: auto;
}
