@import '~esayemm-styles/shared';

.track {
  composes: flex-row;
  width: 200px;
  border-bottom: 1px solid darken($dark_6, 60);
}

.left {
  flex-grow: 1;
  composes: flex-row;
}

.right {
  background: darken($dark_6, 50);
}

.meters {
  padding: 3px;
  width: 100%;
}

.box {
  flex-grow: 1;
  composes: flex-col;
  background: $dark_6;
}

.item {
  padding: 5px;
  composes: flex-row;
}

.label {
  composes: semi-bold;
}

.select {
  width: 100%;
  max-width: 100%;
}

.label.item {
  padding: 5px 10px;
  background: lighten($dark_6, 10);
  box-shadow: 0 2px 2px rgba(black, .1);
}
