@import '../../containers/meter/~esayemm-styles/shared';

$meter_bg: #342e19;
$meter_color: #61ff02;

.container {
  width: 100%;
  height: 100%;
  composes: flex-col;
}

.peak {
  height: 8px;
  width: 8px;
  margin-bottom: 5px;
  border: .5px solid $dark_3;
  background: $meter_bg;

  &.active {
    background: $red_3;
  }
}

.meter {
  position: relative;
  flex-grow: 1;
  border: .5px solid $dark_3;
  display: flex;
  flex-direction: flex-column;
  height: 100%;
  width: 8px;
  background: $meter_bg;
  overflow: hidden;
}

.inner {
  position: absolute;
  align-self: flex-end;
  height: 100%;
  width: 100%;
  background: $meter_color;
}

.secondary {
  position: absolute;
  align-self: flex-end;
  height: 100%;
  width: 100%;
  background: $meter_color;
  opacity: .4;
}

.max {
  position: absolute;
  height: 100%;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: $meter_color;
  }
}
